@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
  @if (User.IsInRole("Admin")){
            
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <form id="profile-form" method="post">
        <div class="container">
            <p>Update your Profile </p>
            <hr>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="Input.UserName" class="form-label"></label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>


            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <label asp-for="Input.PhoneNumber" class="form-label"></label>
            <input asp-for="Input.PhoneNumber" class="form-control" />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            <hr>
            <div>
              
            </div>
            <button id="update-profile-button" type="submit" class="registerbtn">Save</button>
          
        </div>     
    </form>

</body>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
