@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body>

    <form id="account" method="post">
        <div class="container">
   
            <p>Please fill in this form to Login </p>
            <hr>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="Input.Email"><b>Email</b></label>
            <input asp-for="Input.Email" type="text" placeholder="Enter Email" aria-required="true">
            <span asp-validation-for="Input.Email" class="text-danger"></span>


            <label asp-for="Input.Password"><b>Password</b></label>
            <input asp-for="Input.Password" type="password" placeholder="Enter Password" aria-required="true">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <hr>
            <div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>

            <button id="login-submit" type="submit" class="registerbtn">Login</button>
        </div>

       
        <div class="signin">
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
        </div>
    </form>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
