@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<body>

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="container">
       
            <p>Please fill in this form to create an account.</p>
            <hr>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Input.UserName"><b>Name</b></label>
            <input asp-for="Input.UserName" type="text" placeholder="Enter your name" aria-required="true">
            <span asp-validation-for="Input.UserName" class="field-validation-error"></span>
            <br />

            <label asp-for="Input.Email"><b>Email</b></label>
            <input asp-for="Input.Email" type="text" placeholder="Enter your Email" aria-required="true">
            <span asp-validation-for="Input.Email" class="field-validation-error"></span>
            <br />

            <label asp-for="Input.PhoneNumber"><b>Phone number</b></label>
            <input asp-for="Input.PhoneNumber" type="text" placeholder="Enter your phone number" aria-required="true">
            <span asp-validation-for="Input.PhoneNumber" class="field-validation-error"></span>
            <br />
   
        
            <label asp-for="Input.Password"><b>Password</b></label>
            <input asp-for="Input.Password" type="password" placeholder="Enter Password" aria-required="true">
            <span asp-validation-for="Input.Password" class="field-validation-error"></span>
            <br />
      
            <label asp-for="Input.ConfirmPassword"><b>Repeat Password</b></label>
            <input asp-for="Input.ConfirmPassword" type="password" placeholder="Repeat Password" aria-required="true">
            <span asp-validation-for="Input.ConfirmPassword" class="field-validation-error"></span>
            <br />
        
            <hr>

            <button id="registerSubmit" type="submit" class="registerbtn">Register</button>
        </div>

        <div class="signin">
            <p>Already have an account? <a href="/Identity/Account/Login"> Login</a> </p>
        </div>
    </form>

</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
