@{
    ViewData["Title"] = "Home Page";
}

    <main>
        <section id="home">
            <div>
            <h1>Welcome  <span style="background:#9971b5fc;">Adstra</span></h1>
            <p>  Nullam vulputate ultrices tellus et bibendum. Integer iaculis pharetra ligula, eget condimentum nunc malesuada nec.
                Nullam vulputate ultrices tellus et bibendum. Integer iaculis pharetra ligula, eget condimentum nunc malesuada nec.
                Nullam vulputate ultrices tellus et bibendum. Integer iaculis pharetra ligula, eget condimentum nunc malesuada nec.
            </p>
            <a href="/Contacts/Create">
            <button type="submit" class="submit-btn contact-form">Contact us</button>
            </a>
            </div>       
            <img class="img-home"  src="~/images/it_2.jpg" />
        </section>


    </main>
