@{
    ViewData["Title"] = "Home Page";
}

    <main>
        <section id="home">
            <div>
                <h1>Welcome  <span>Adstra</span></h1>
                <p>Subtitle here you can describe your company</p>
            <a href="/home/#contact">
            <button type="submit" class="submit-btn contact-form">Contact us</button>
            </a>
            </div>       
            <img class="img-home"  src="~/images/it_2.jpg" />
        </section>


        <section id="contact">
            <form class="contact-items ">
                <h1 class="contact-form">Contact us :</h1>
                <input type="email" name="email" id="email" placeholder="Your email" class="contact-form">
                <textarea id="text-problem" name="text-problem" rows="4" cols="24" placeholder="Write your message : " class="contact-form"></textarea>
                <button type="submit" class="submit-btn contact-form">
                    Send
                
                </button>
            </form>
            <div class="contact-items">
            <img src="~/images/hero_maps_static_api.png" />
            </div>
        </section>

    </main>
