@model AdstraTask.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<hr />
<section id="contact">

        <form class="contact-items" asp-action="Create">   
            <h1 class="contact-form">Contact us :</h1>
    <input asp-for="Email" type="email" name="email" id="email" placeholder="Your email" class="contact-form">
                <span asp-validation-for="Email" class="text-danger"></span>
             <textarea asp-for="Message" id="text-problem"  rows="4" cols="24" placeholder="Write your message : " class="contact-form"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
                <input type="submit" value="Send message" class="submit-btn contact-form" />     
        </form>
        <div class="contact-items">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9934.656822249703!2d35.84586036580254!3d32.539066933084804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c76ec7a3131eb%3A0xda276c01bae7585f!2sYarmouk%20University!5e0!3m2!1sen!2sjo!4v1684165054341!5m2!1sen!2sjo" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

</section>
