@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";

}

<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
               Email
            </th>
            <th>Phone Number </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
            </tr>
        }
    </tbody>
</table>
