<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard </title>
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <div class="logo_name">Admin Dashboard </div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="/Admin/Index">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="/Identity/Account/Manage">
                    <i class='bx bx-user'></i>
                    <span class="links_name">My Account</span>
                </a>
                <span class="tooltip">My Account</span>
            </li>
            <li>
                <a href="/Admin/ShowUsersInfo">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Users</span>
                </a>
                <span class="tooltip">Users</span>
            </li>
            <li>
                <a href="/Contacts/Index">
                    <i class='bx bx-chat'></i>
                    <span class="links_name">Messages</span>
                </a>
                <span class="tooltip">Messages</span>
            </li>
           @* <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">File Manager</span>
                </a>
                <span class="tooltip">File Manager</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cart-alt'></i>
                    <span class="links_name">Order</span>
                </a>
                <span class="tooltip">Order</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Saved</span>
                </a>
                <span class="tooltip">Saved</span>
            </li>*@

        
            <li>
                <a>
                    <i class='bx bx-log-out' id="log_out"></i>
                    <form class="nav-item" action="/Identity/Account/Logout?returnUrl=%2F" method="post">
                        <button type="submit" class="submit-btn contact-form"><i class='bx bx-log-out' id="log_out"></i></button>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8C8QQRXEejJEgg5oe04mcWOnRpKnKmf_oaSkdoYK6srbEDcjl1HPjC-SncmbM-sNtu27HZD2VyM7SDlEqz7GR91nhOfKGKNLFVEy-9oA_25ZQTF5o87YsCHJAVFUrE_W_RygMKGzU6YTz1j9JWYK_ojgx3T4O6F5J3N4e7sWL9Cf5Pk6j7epTcAcH5T2kfRxsA">
                    </form>
                    <span class="links_name">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul> 

    
   @*     <div class="content">
            <div class="user">
                <div class="user_details">

                    <div class="name_job">
                        <div class="name">Bhaskar Gupta</div>
                        <div class="job">Web Designer</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </div>*@
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/js/Admin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
